---
- name: Test plugins cmp_pkg
  hosts: localhost
  tasks:
    - name: Ping test
      ansible.builtin.ping:

    - name: Test module itself
      ansi_colle.shared.cmp_pkg:
        name: ansible
        version: '2.14.1'
