---
name: Validate Ansible code
"on":
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: ansible-playbook $GITHUB_WORKSPACE/playbooks/install.yml

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
